html {
	background-color: #FFCCCC	
	}
	
	
h1 {
	text-align: center;
	color: #484848;
	border-style: dotted; 
	border-width:20px;
	outline-color: #F8F8F8;
	margin: 10px;
	padding: 25px;

}

.special {
	background-color: #F8F8F8;
	
	}

h2 {
	text-align: left;
	color: #990066;
	font-style: italic;
	font-size:38px;
	border-style: inset;
	border-width: 15px;
	outline-color:#686868;
	outline-width: 15px;
	
}

h3 {
	text-align: right;
	font-style: italic;
	font-size: 38px;
	color: #990066;
	border-style: inset;
	border-width: 15px;
	outline-color: #686868;
	outline-width: 15px;
	
}